<div class="card-container">
  <div class="fontTitle">
    {{ pokemon.name }}
  </div>
  <div class="container--img">
    <img src="{{ pokemon.image }}" class="card--img" />
  </div>
  <div class="fontText card--container__stats">
    <div>
      <label class="label--stats">attack: {{ pokemon.attack }}</label>
      <label class="label--stats">Defense:{{ pokemon.defense }}</label>
    </div>
    <div>
      <label class="label--stats">Hp: {{ pokemon.hp }}</label>
      <label class="label--stats">Speed: {{ pokemon.speed }}</label>
    </div>
  </div>
  <div class="fontText container--types">
      <li *ngFor="let type of pokemon.types">{{ type.name }}</li>
  </div>
</div>
