.card-container{
    background-color: var(--fourth);
    display: flex;
    flex-direction: column;
    width: 12rem;
    align-items: center;
    border-radius: 1rem;
}

.container--img{
    border: 4px;
    border-color: black;
}
.card--img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    clip: rect(0px, 50px);

}
.card--container__stats{
    display: flex;
    gap: 2rem;
    font-size: small;

}

.container--types{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.label--stats{
    display: flex;
}