.card-container{
    background-color: var(--fourth);
    display: flex;
    flex-direction: column;
    width: 13rem;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
}

.container--img{
    display: flex;
    justify-content: center;
    height: 10rem;
    width: 9rem;
}

.card--img{
    
    
}

.card--container__stats{
    display: flex;
    gap: 2rem;
    font-size: small;

}

.container--types{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.label--stats{
    display: flex;
}