<nav class="navBar">
  
  <ul class="nav--container fontTitle">
    <li class="nav--title">PokeJV</li>
    <li>Home</li>
    <form action="">
        <input type="text" name="" id="">
        <button>🔎</button>
    </form>
    <li>Create pokemon</li>
  </ul>
  <div class="container--selectors fontTitle ">
    <div>
        <label>Filters</label>
    </div>
  <div class="container--select fontTitle">
    <select name="" id="">
      <option value="types">All</option>
    </select>
  </div>
  <div class="container--select fontTitle">
    <select name="" id="">
      <option value="attacks">All</option>
    </select>
  </div>
</div>
</nav>
